<!-- <div class="jumbtron">
  <h5 class="display-4 text-center">Bill Items</h5>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-bill-item></app-bill-item>
    </div>
    <div class="col-md-7">
      <app-bill-item-list></app-bill-item-list>
    </div>
  </div>
</div> -->

<div class="Container">
  <div class="row">
    <h1 class="text-center">Bill Items</h1>
    <hr>
   </div>
  <div class="row">
    <div class="col-md-12">
      <app-bill-item></app-bill-item>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-bill-item-list></app-bill-item-list>
    </div>
  </div>
</div>

