<mat-toolbar>
  <!-- <span>{{service.form.controls['$key'].value?"Modify Employee":"New Employee"}}</span> -->
  <span>Add / Modify Bill Items</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="this.service.formData" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-md-5 mx-auto ">
      <!-- *ngIf="utilSvc.addButtVisible" -->
        <!-- <div  class="form-group mb-3 mt-3 ">
          <button mat-raised-button (click)="addNew()" >
            <mat-icon>add</mat-icon>Add
          </button>
        </div> -->
    </div>

    <div class="col-md-5 mx-auto ">
        <!-- <div *ngIf="utilSvc.addButtVisible" class="form-group mb-3 mt-3 ">
          <button mat-raised-button (click)="addNew()" >
            <mat-icon>add</mat-icon>Add
          </button>
        </div> -->
    </div>

  </div>

  <div class="row">
    <div class="col-md-5 mx-auto ">

      <input type="hidden" formControlName="PK_SNo">

      <div class="row">
        <div class="form-group mb-3 mt-3 ">
          <label for="drgName">Bill Item</label>
                <ng-select id="drgName"  formControlName="drgName" #itmX (change)="updateFields($event)"
                placeholder="Select an Item"
                class="form-control" [ngClass]="{'is-invalid': submitted && formControls['drgName'].errors}">
                  <ng-option value="0">--Select--</ng-option>
                  <ng-option *ngFor="let item of itemList" value="{{item.BillItem}}">{{item.BillItem}}</ng-option>
                </ng-select>
          <div class="invalid-feedback" *ngIf="submitted && formControls['drgName'].errors" >
            <label *ngIf="formControls['drgName'].errors['required']" >This field is required.</label>
          </div>
        </div>

        <!-- <div class="form-group col-md-5 mb-3 mt-3">
          <label for="JobNature">JobNature</label>
                <select id="JobNature" formControlName="JobNature" class="form-control"
                  [ngClass]="{'is-invalid': submitted && formControls['JobNature'].errors}">
                  <option value="0">--Select--</option>
                  <option value="BOND">BOND</option>
                  <option value="NORMAL">NORMAL</option>
                  <option value="PRE-RELEASE">PRE-RELEASE</option>
                  <option value="AIRPORT">AIRPORT</option>

                </select>
          <div class="invalid-feedback" *ngIf="submitted && formControls['JobNature'].errors" >
            <label *ngIf="formControls['JobNature'].errors['required']" >This field is required.</label>
          </div>
        </div> -->

      </div>

      <div class="row">
        <div class="form-group col-md-3 mb-3">
          <label for="Qty">Qty</label>
          <input id="Qty" formControlName="Qty" type="text" #qty (blur)="updateSubTotal(+qty.value,+price.value)"   class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Qty'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Qty'].errors">
            <label *ngIf="formControls['Qty'].errors['required']">This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-5 mb-3">
          <label for="Price">Rate</label>
          <input id="Price"  formControlName="Price" type="text" (blur)="service.PerformAddition()" #price (blur)="updateSubTotal(+qty.value,+price.value)"  class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Price'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Price'].errors">
            <label *ngIf="formControls['Price'].errors['required']">This field is required.</label>
          </div>
        </div>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Deposit Amount</mat-label>
          <input matInput
                FormatNumerLocal
                formControlName="Price"
                type="text"/>
        </mat-form-field> -->

        <div class="form-group col-md-4 mb-3">
          <label for="AmountPaid">AmountPaid</label>
          <input id="AmountPaid" FormatNumerLocal formControlName="AmountPaid" #amtPaid  class="form-control" [ngClass]="{'is-invalid':submitted && formControls['AmountPaid'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['AmountPaid'].errors">
            <label *ngIf="formControls['AmountPaid'].errors['required']">This field is required.</label>
          </div>
        </div>

      </div>

    </div>

  <div class="col-md-5 mx-auto ">

    <div class="row">
      <div class="form-group col-md-5 mb-3 mt-3">
        <label for="billNO">InvoiceNo</label>
        <input tabindex="-1" readonly id="billNO" formControlName="billNO" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['billNO'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['billNO'].errors">
          <label *ngIf="formControls['billNO'].errors['required']">This field is required.</label>
        </div>
      </div>

      <div class="form-group col-md-6 mb-3 mt-3 ">
        <label for="dtDate">InvoiceDate</label>
        <input tabindex="-1" type="date" readonly
          id="dtDate"
          [formControl]="$any(this.service.formData.controls['dtDate'])"
          class="form-control" [ngClass]="{'is-invalid':submitted && formControls['dtDate'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['dtDate'].errors">
          Invalid InvoiceDate
        </div>
      </div>

    </div>

      <div class="row">

        <!-- <div class="form-group col-md-4 mb-3">
          <label for="Interest">Interest</label>
          <input id="Interest" formControlName="Interest" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Interest'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Interest'].errors">
            <label *ngIf="formControls['Interest'].errors['required']">This field is required.</label>
          </div>
        </div> -->

        <div class="form-group col-md-5 mb-3">
          <label for="BillCategory">Expense Cat</label>
          <input id="BillCategory" formControlName="BillCategory" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['BillCategory'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['BillCategory'].errors">
            <label *ngIf="formControls['BillCategory'].errors['required']">This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-5 mb-3">
          <label for="BillStatus">Bill Status</label>
          <input  id="BillStatus" formControlName="BillStatus" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['BillStatus'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['BillStatus'].errors">
            <label *ngIf="formControls['BillStatus'].errors['required']">This field is required.</label>
          </div>
        </div>

      </div>

  </div>

  </div>

  <div class="row">
    <div class="col-md-5 mx-auto ">

      <div class="row">
        <div class="form-group col-md-4 mb-3">
          <label for="Interest">MarkUp (%)</label>
          <input id="Interest" formControlName="Interest" #markUp  class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Interest'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Interest'].errors">
            <label *ngIf="formControls['Interest'].errors['required']">This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-4 mb-3">
          <label for="VAT">VAT</label>
          <input id="VAT" formControlName="VAT" #VAT  class="form-control" [ngClass]="{'is-invalid':submitted && formControls['VAT'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['VAT'].errors">
            <label *ngIf="formControls['VAT'].errors['required']">This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-4 mb-3">
          <label for="Serial">Serial</label>
          <input id="Serial" formControlName="Serial" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Serial'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Serial'].errors">
            <label *ngIf="formControls['Serial'].errors['required']">This field is required.</label>
          </div>
        </div>

      </div>


    </div>

    <div class="col-md-5 mx-auto ">




      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <label for="subTotal">SubTotal</label>
          <input tabindex="-1" readonly  id="subTotal" FormatNumerLocal formControlName="subTotal" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['subTotal'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['subTotal'].errors">
            <label *ngIf="formControls['subTotal'].errors['required']">This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-6 mb-3">
          <label for="Total">AmountDue / Item</label>
          <input tabindex="-1"  readonly id="Total" FormatNumerLocal formControlName="Total" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Total'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Total'].errors">
            <label *ngIf="formControls['Total'].errors['required']">This field is required.</label>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-5 mx-auto ">
      <!-- *ngIf="utilSvc.saveButtVisible" -->
      <div class="form-group mb-3 ">
        <input type="submit" class="btn btn-primary " value="Submit">
        <!-- <input type="button" class="btn btn-link " value="Add to Grid" (click)="addToGrid()"> -->
        <!-- <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button> -->
      </div>

      <!-- <div class="alert alert-info"  *ngIf="showSuccessMessage">
        Submitted successfully.
      </div> -->

    </div>

    <div class="col-md-5 mx-auto ">
      <div  class="form-group mb-3 float-end" >

        <div class="d-grid gap-2">
          <!-- <input type="submit" class="btn btn-primary " value="Submit"> -->
          <input type="button" [mat-dialog-close] (click)="onClose()" class="btn btn-outline-warning " value="Close">
          <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
        </div>
        <!-- <button type="button" class="btn btn-outline-warning">Warning</button>
        <input class="btn btn-primary" type="reset" value="Reset">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-warning btn-lg">Large button</button> -->
      </div>
    </div>

  </div>

</form>

<div class="row">
  <div class="col-md-10 col-md-offset-1 mx-auto" >
    <app-invoice-details-list [billNoChild]="billNoParam"></app-invoice-details-list>
  </div>
</div>




