

    <form [formGroup]="this.service.form" (ngSubmit)="onSubmit()">

       <div class="row">
          <div class="col-md-6  col-md-offset-3 mx-auto">

              <div class="row">
                <div class="col-md-5  ">
                  <!-- *ngIf="utilSvc.addButtVisible" -->
                    <div  *ngIf="utilSvc.addButtVisible" class="form-group mb-3 mt-3 ">
                      <!-- <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()"> -->
                      <button mat-raised-button (click)="addNew()" >
                        <mat-icon>add</mat-icon>Add
                      </button>
                    </div>
                </div>

                <div class="col-md-5 mx-auto ">
                    <!-- <div *ngIf="utilSvc.addButtVisible" class="form-group mb-3 mt-3 ">
                      <button mat-raised-button (click)="addNew()" >
                        <mat-icon>add</mat-icon>Add
                      </button>
                    </div> -->
                </div>


              <input type="hidden" formControlName="ID">

                <div class="form-group mb-3">
                  <label for="GroupName">GroupName</label>
                  <input id="GroupName" formControlName="GroupName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['GroupName'].errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls['GroupName'].errors">
                    Invalid GroupName.</div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6  ">
                  <!-- *ngIf="utilSvc.saveButtVisible" -->
                  <div *ngIf="!utilSvc.addButtVisible" class="form-group mb-3 ">
                    <input type="submit" class="btn btn-primary btn-space" value="Submit" >
                    <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()">
                  </div>

                  <!-- <div class="alert alert-info"  *ngIf="showSuccessMessage">
                    Submitted successfully.
                  </div> -->

                </div>

                <div class="col-md-4 mx-auto ">
                  <!-- <div *ngIf="!utilSvc.addButtVisible"  class="form-group mb-3 float-end" >
                    <input type="button" class="btn btn-primary " value="Add to Bill" (click)="AddToBill()">
                  </div> -->
                </div>

              </div>



          </div>

        </div>
  </form>


  <div class="row">
          <div class="col-md-10 col-md-offset-1 mx-auto">
            <app-consignee-group-list></app-consignee-group-list>
          </div>
        </div>

