<form #userRegistrationForm="ngForm" class="row g-3" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="row">

    <div class="mt-3 mb-3 row">
      <label data-error="Required field!">UserName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
      </div>
    </div>

    <div class="mt-3 mb-3 row">
      <label data-error="Required field!">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
      </div>
    </div>

  </div>

    <div class="mt-3 mb-3 row">
      <label data-error="Invalid email!">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
      </div>
    </div>


    <div class="mt-3 mb-3 row">
      <label>First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
      </div>
    </div>

  <div class="row">

    <div class="mt-3 mb-3 row">
      <label>Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
      </div>
    </div>

    <div class="row" *ngIf="roles">
      <ul>
        <li *ngFor="let item of roles;let i = index">
          <input class="form-check-input" type="checkbox" [id]="'roles-'+i" value="{{item.id}}" [checked]="item.selected"  (change)="updateSelectedRoles(i)"/>
          <label class="form-check-label" [for]="'roles-'+i" >{{item.name}}</label>
        </li>
      </ul>
    </div>

    <div class="mb-3 row">
      <i class="col-sm-2 material-icons prefix"></i>
        <div class="col-sm-10 ">
          <button [disabled]="!userRegistrationForm.valid" class="btn btn-primary mb-3" type="submit">Submit</button>
        </div>
      </div>

  </div>



</form>
