
<!-- <p>{{custGroups | json}}</p> -->
        <div class="row">
          <div class="col-md-6  col-md-offset-3 mx-auto">

              <div *ngIf="utilSvc.addButtVisible" class="form-group mb-3 mt-3 ">
                <!-- <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()"> -->
                <button mat-raised-button (click)="addNew()" >
                  <mat-icon>add</mat-icon>Add
                </button>
              </div>

            <form [formGroup]="this.service.form" (ngSubmit)="onSubmit()">

              <input type="hidden" formControlName="SNo">

                <div class="form-group mb-3 mt-3 ">
                <label for="ConsigneeCode">ConsigneeCode</label>
                <input id="ConsigneeCode" formControlName="ConsigneeCode" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['ConsigneeCode'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls['ConsigneeCode'].errors">
                  <label *ngIf="formControls['ConsigneeCode'].errors['required']">This field is required.</label>
                  <label *ngIf="formControls['ConsigneeCode'].errors['maxlength']">At Most 5 Characters .</label>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="ConsigneeName">ConsigneeName</label>
                <input id="ConsigneeName"  formControlName="ConsigneeName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['ConsigneeName'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls['ConsigneeName'].errors">
                  Invalid ConsigneeName.</div>
              </div>

              <div class="form-group mb-3">
                  <label for="GroupName">GroupName</label>
                  <select  id="GroupName"  formControlName="GroupName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['GroupName'].errors}" >
                    <option value="0" >--Select--</option>
                    <!-- <option *ngFor="let custGroup of custGroups" value="{{custGroup.ID}}" > {{custGroup.GroupName}} </option> -->
                    <option *ngFor="let item of itemList" value="{{item.GroupName}}">{{item.GroupName}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="submitted && formControls['GroupName'].errors">
                    <label *ngIf="formControls['GroupName'].errors['required']">This field is required.</label>
                  </div>
              </div>

              <div class="form-group mb-3 ">
                <label for="ConsigneeAddress">ConsigneeAddress</label>
                <input id="ConsigneeAddress"  formControlName="ConsigneeAddress" class="form-control">
              </div>

              <div *ngIf="!utilSvc.addButtVisible" class="form-group mb-3 ">
                <input type="submit" class="btn btn-primary btn-space" value="Submit">
                <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()">
              </div>
            </form>

            <div class="alert alert-info"  *ngIf="showSuccessMessage">
              Submitted successfully.
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1 mx-auto">
            <app-consignee-list></app-consignee-list>
          </div>
        </div>

