
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-8 offset-2 mx-auto">
        <div class="card h-100 border-primary">
          <div class="row">
            <div class=" mx-auto">
              <div class="sm-jumbotron center-align">
                <h2>User Login</h2>
              </div>

              <ul class="nav nav-tabs" >
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink='/login' >Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink='/signup' >Sign Up</a>
                </li>
              </ul>
            </div>
          </div>

        <div class="row">
          <div class="col-md-8 offset-2 mx-auto">
            <router-outlet></router-outlet>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">*****</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Logic Version</h5>
    <p class="card-text">Innovative Technology</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

