
        <div class="row">
          <div class="col-md-6  col-md-offset-3 mx-auto">
            <form [formGroup]="this.service.form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="ID">

              <div class="form-group mb-3">
                <label>GroupName</label>
                <input formControlName="ConsigneeName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['ConsigneeName'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls['ConsigneeName'].errors">
                  Invalid GroupName.</div>
              </div>

              <div class="form-group mb-3">
                <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </form>
            <div class="alert alert-info"  *ngIf="showSuccessMessage">
              Submitted successfully.
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1 mx-auto">
            <app-consignee-group-list></app-consignee-group-list>
          </div>
        </div>

