<!-- {{service.list | json}} -->
<table class="table table-hover">
    <tr >
     <td >SNo</td>
    <td >BillItem</td>
    <td >BillCategory </td>
    <td >FreightCat </td>
    <td>Active </td>
    <td >MarkUp </td>
    <td >BillStatus </td>
    <td >Serial </td>
    <td >Amount</td>

  </tr>

  <tr *ngFor="let bItem of service.list">
    <td (click)="populateForm(bItem)">{{ bItem.SNo}}</td>
    <td (click)="populateForm(bItem)">{{ bItem.BillItem}}</td>
    <td (click)="populateForm(bItem)">{{ bItem.BillCategory }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.FreightCat }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.isActive }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.MarkUp }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.BillStatus }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.Serial }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.Amount }}</td>
    <td>
      <button
        (click)="onDelete(bItem.SNo)"
        class="btn btn-sm btn-outline-danger"
      >
        X
      </button>
    </td>
  </tr>
</table>
