
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div *ngIf="utilSvc.addButtVisible" class="mb-3 mt-3">
          <!-- <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()"> -->
          <button mat-raised-button (click)="addNew()">
            <mat-icon>add</mat-icon>Add
          </button>
        </div>
      </div>
      <div class="col-md-5 mx-auto">

      </div>
    </div>

  <form [formGroup]="this.service.form" (ngSubmit)="onSubmit()">

    <div class="row">

      <div class="col-md-5 mx-auto">

              <input type="hidden" formControlName="SNo" />

              <div class="row">
                <div class="form-group col-sm-6 mb-3 mt-3">
                  <label for="JobCode">JobCode</label>
                  <input
                    id="JobCode"
                    formControlName="JobCode"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && formControls['JobCode'].errors
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && formControls['JobCode'].errors"
                  >
                    <label *ngIf="formControls['JobCode'].errors['required']"
                      >This field is required.</label
                    >
                  </div>
                </div>

                <div class="form-group col-sm-6 mb-3 mt-3">
                  <label for="BLNo">BLNo/AWB</label>
                  <input
                    type="text"
                    id="BLNo"
                    formControlName="BLNo"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && formControls['BLNo'].errors
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && formControls['BLNo'].errors"
                  >
                    <label *ngIf="formControls['BLNo'].errors['required']"
                      >This field is required.</label
                    >
                  </div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="ConsigneeName">ConsigneeName</label>
                <input
                  id="ConsigneeName"
                  formControlName="ConsigneeName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['ConsigneeName'].errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && formControls['ConsigneeName'].errors"
                >
                  Invalid ConsigneeName.
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="GroupName">GroupName</label>
                <select
                  id="GroupName"
                  formControlName="GroupName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['GroupName'].errors
                  }"
                >
                  <option value="0">--Select--</option>
                  <!-- <option *ngFor="let custGroup of custGroups" value="{{custGroup.ID}}" > {{custGroup.GroupName}} </option> -->
                  <option *ngFor="let item of itemList" value="{{ item.GroupName }}">
                    {{ item.GroupName }}
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && formControls['GroupName'].errors"
                >
                  <label *ngIf="formControls['GroupName'].errors['required']"
                    >This field is required.</label
                  >
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="ConsigneeAddress">ConsigneeAddress</label>
                <input
                  id="ConsigneeAddress"
                  formControlName="ConsigneeAddress"
                  class="form-control"
                />
              </div>

      </div>

      <div class="col-md-5 mx-auto">

            <div class="row">
              <div class="col-sm-5 ">
                <div class="form-group mb-3 mt-3">
                  <label for="billNO">InvoiceNo</label>
                  <input
                    id="billNO"
                    formControlName="billNO"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && formControls['billNO'].errors
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && formControls['billNO'].errors"
                  >
                    <label *ngIf="formControls['billNO'].errors['required']"
                      >This field is required.</label
                    >

                  </div>
                </div>

              </div>

              <div class="col-sm-5 ">
                <div class="form-group mb-3 mt-3">
                  <label for="bDate">InvoiceDate</label>
                  <input
                   type="date"
                    data-date-inline-picker="true"
                    data-date-format="dd-mm-yy"
                    placeholder="dd-mm-yy"
                    id="bDate"
                    formControlName="bDate"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && formControls['bDate'].errors
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && formControls['bDate'].errors"
                  >
                    <label *ngIf="formControls['bDate'].errors['required']"
                      >This field is required.</label
                    >

                  </div>
                </div>
              </div>
            </div>


      <div class="row">
        <div class="form-group col-sm-5 mb-3 mt-3 ">
          <label for="billType">BillType</label>
                <select
                  id="billType"
                  formControlName="billType"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['billType'].errors
                  }"
                >
                  <option value="0">--Select--</option>
                  <option value="AIR">AIR</option>
                  <option value="SEA">SEA</option>
                </select>
          <div
            class="invalid-feedback"
            *ngIf="submitted && formControls['billType'].errors"
          >
            <label *ngIf="formControls['billType'].errors['required']"
              >This field is required.</label
            >
          </div>
        </div>

        <div class="form-group col-sm-5 mb-3 mt-3">
          <label for="JobNature">JobNature</label>
                <select
                  id="JobNature"
                  formControlName="JobNature"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['JobNature'].errors
                  }"
                >
                  <option value="0">--Select--</option>
                  <option value="BOND">BOND</option>
                  <option value="NORMAL">NORMAL</option>
                  <option value="PRE-RELEASE">PRE-RELEASE</option>
                  <option value="AIRPORT">AIRPORT</option>

                </select>
          <div
            class="invalid-feedback"
            *ngIf="submitted && formControls['JobNature'].errors"
          >
            <label *ngIf="formControls['JobNature'].errors['required']"
              >This field is required.</label
            >
          </div>
        </div>
      </div>

           <div class="row">
              <div class="col-sm-5 ">
                <div class="form-group mb-3">
                  <label for="GroupName">GroupName</label>
                  <select
                    id="GroupName"
                    formControlName="GroupName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && formControls['GroupName'].errors
                    }"
                  >
                    <option value="0">--Select--</option>
                    <!-- <option *ngFor="let custGroup of custGroups" value="{{custGroup.ID}}" > {{custGroup.GroupName}} </option> -->
                    <option *ngFor="let item of itemList" value="{{ item.GroupName }}">
                      {{ item.GroupName }}
                    </option>
                  </select>
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && formControls['GroupName'].errors"
                  >
                    <label *ngIf="formControls['GroupName'].errors['required']"
                      >This field is required.</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-5 ">
                <div class="form-group mb-3">
                  <label for="GroupName">GroupName</label>
                  <select
                    id="GroupName"
                    formControlName="GroupName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && formControls['GroupName'].errors
                    }"
                  >
                    <option value="0">--Select--</option>
                    <!-- <option *ngFor="let custGroup of custGroups" value="{{custGroup.ID}}" > {{custGroup.GroupName}} </option> -->
                    <option *ngFor="let item of itemList" value="{{ item.GroupName }}">
                      {{ item.GroupName }}
                    </option>
                  </select>
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && formControls['GroupName'].errors"
                  >
                    <label *ngIf="formControls['GroupName'].errors['required']"
                      >This field is required.</label
                    >
                  </div>
                </div>
              </div>
           </div>

              <div class="form-group mb-3">
                <label for="ConsigneeAddress">ConsigneeAddress</label>
                <input
                  id="ConsigneeAddress"
                  formControlName="ConsigneeAddress"
                  class="form-control"
                />
              </div>



              <div class="alert alert-info" *ngIf="showSuccessMessage">
              Submitted successfully.
            </div>
      </div>

    </div>



    <div class="row">
      <div class="col-md-5 mx-auto">
              <div *ngIf="utilSvc.saveButtVisible" class="form-group mb-3">
                <input type="submit" class="btn btn-primary btn-space" value="Submit" />
                <input
                  type="button"
                  class="btn btn-danger btn-space"
                  value="Cancel"
                  (click)="cancelEntry()"
                />
              </div>
      </div>
      <div class="col-md-5 mx-auto">

      </div>
    </div>

  </form>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 mx-auto">
      <app-consignee-list></app-consignee-list>
    </div>
  </div>
