
<form [formGroup]="this.service.form" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-md-5 mx-auto ">
      <!-- *ngIf="utilSvc.addButtVisible" -->
        <div  *ngIf="utilSvc.addButtVisible" class="form-group mb-3 mt-3 ">
          <!-- <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()"> -->
          <button mat-raised-button (click)="addNew()" >
            <mat-icon>add</mat-icon>Add
          </button>
        </div>
    </div>

    <div class="col-md-5 mx-auto ">
        <!-- <div *ngIf="utilSvc.addButtVisible" class="form-group mb-3 mt-3 ">
          <button mat-raised-button (click)="addNew()" >
            <mat-icon>add</mat-icon>Add
          </button>
        </div> -->
    </div>

  </div>

  <div class="row">
    <div class="col-md-5 mx-auto ">

      <input type="hidden" formControlName="ID">

      <div class="row">
        <div class="form-group col-md-5 mb-3 mt-3 ">
          <label for="billType">BillType (Freight Cat)</label>
                <select id="billType" formControlName="billType"
                  class="form-control" [ngClass]="{'is-invalid': submitted && formControls['billType'].errors}">
                  <option value="0">--Select--</option>
                  <option value="AIR">AIR</option>
                  <option value="SEA">SEA</option>
                </select>
          <div class="invalid-feedback" *ngIf="submitted && formControls['billType'].errors" >
            <label *ngIf="formControls['billType'].errors['required']" >This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-5 mb-3 mt-3">
          <label for="JobNature">JobNature</label>
                <select id="JobNature" formControlName="JobNature" class="form-control"
                  [ngClass]="{'is-invalid': submitted && formControls['JobNature'].errors}">
                  <option value="0">--Select--</option>
                  <option value="BOND">BOND</option>
                  <option value="NORMAL">NORMAL</option>
                  <option value="PRE-RELEASE">PRE-RELEASE</option>
                  <option value="AIRPORT">AIRPORT</option>

                </select>
          <div class="invalid-feedback" *ngIf="submitted && formControls['JobNature'].errors" >
            <label *ngIf="formControls['JobNature'].errors['required']" >This field is required.</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-5 mb-3">
          <label for="JobCode">JobCode</label>
          <input id="JobCode" formControlName="JobCode" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['JobCode'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['JobCode'].errors">
            <label *ngIf="formControls['JobCode'].errors['required']">This field is required.</label>
          </div>
        </div>

        <div class="form-group col-md-5 mb-3">
          <label for="BLNo">BLNo / AWB</label>
          <input id="BLNo" formControlName="BLNo" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['BLNo'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['BLNo'].errors">
            <label *ngIf="formControls['BLNo'].errors['required']">This field is required.</label>
          </div>
        </div>

      </div>

    </div>

   <div class="col-md-5 mx-auto ">

    <div class="row">
      <div class="form-group col-md-5 mb-3 mt-3">
        <label for="billNO">InvoiceNo</label>
        <input readonly id="billNO" formControlName="billNO" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['billNO'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['billNO'].errors">
          <label *ngIf="formControls['billNO'].errors['required']">This field is required.</label>
        </div>
      </div>


      <div class="form-group col-md-5 mb-3 mt-3 ">
        <label for="bDate">InvoiceDate</label>
        <!-- <input type="text" bsDatepicker -->
        <input id="bDate"
          type="date"
          valueAsDate="new Date()"
          [formControl]="$any(this.service.form.controls['bDate'])"
          class="form-control" [ngClass]="{'is-invalid':submitted && formControls['bDate'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['bDate'].errors">
          Invalid InvoiceDate.</div>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-5 mb-3 ">
        <label for="JobStartDate">JobStartDate</label>
        <input type="date"
          data-date-inline-picker="true"
          data-date-format="dd-MMM-yy"
          placeholder="dd-mmm-yy"
          id="JobStartDate"
          valueAsDate="new Date()"
          [formControl]="$any(this.service.form.controls['JobStartDate'])"
          class="form-control" [ngClass]="{'is-invalid':submitted && formControls['JobStartDate'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['JobStartDate'].errors">
          Invalid JobStartDate.</div>
      </div>

      <div class="form-group col-md-5 mb-3 ">
        <label for="JobEndDate">JobEndDate</label>
        <input type="date"
          data-date-inline-picker="true"
          data-date-format="dd-MMM-yy"
          placeholder="dd-mmm-yy"
          id="JobEndDate"
          valueAsDate="new Date()"
          [formControl]="$any(this.service.form.controls['JobEndDate'])"
          class="form-control" [ngClass]="{'is-invalid':submitted && formControls['JobEndDate'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['JobEndDate'].errors">
          Invalid JobEndDate.</div>
      </div>

    </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-5 mx-auto ">

<!-- <ng-select [items]="fruits" appendTo="body" formControlName="fruitNames" placeholder="Select Fruits"></ng-select> -->

      <div class="form-group mb-3 mt-3 ">
        <label for="pNo">Select Importer</label>
              <ng-select id="pNo" formControlName="pNo" (change)="updateFields($event)"
                placeholder="Select an Importer"
                class="form-control" [ngClass]="{'is-invalid': submitted && formControls['pNo'].errors}">
                <ng-option value="0">--Select--</ng-option>
                <ng-option *ngFor="let item of itemList" [value]="item.ConsigneeCode">{{item.ConsigneeName}}</ng-option>
              </ng-select>
        <div class="invalid-feedback" *ngIf="submitted && formControls['pNo'].errors" >
          <label *ngIf="formControls['pNo'].errors['required']" >This field is required.</label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="ConsigneeCode">ConsigneeName</label>
        <input id="ConsigneeCode"  formControlName="ConsigneeCode" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['ConsigneeCode'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['ConsigneeCode'].errors">
          Invalid ConsigneeName.</div>
      </div>

      <div class="row">
        <div class="form-group col-md-2 mb-3 ">
          <label for="NoOf20Ft">NoOf20Ft</label>
          <input id="NoOf20Ft"  formControlName="NoOf20Ft" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['NoOf20Ft'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['NoOf20Ft'].errors">
            Invalid NoOf20Ft.
          </div>
        </div>

        <div class="form-group col-md-2 mb-3 ">
          <label for="NoOf40Ft">NoOf40Ft</label>
          <input id="NoOf40Ft"  formControlName="NoOf40Ft" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['NoOf40Ft'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['NoOf40Ft'].errors">
            Invalid NoOf40Ft.
          </div>
        </div>

        <!--
        <div class="form-group col-md-2 mb-3 ">
          <label for="ExchRate">ExchRate</label>
          <input id="ExchRate"  formControlName="ExchRate" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['ExchRate'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['ExchRate'].errors">
            Invalid ExchRate.
          </div>
        </div> -->

        <div class="form-group col-md-4 mb-3 ">
          <label for="Voy">Voy</label>
          <input id="Voy"  formControlName="Voy" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Voy'].errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls['Voy'].errors">
            Invalid Voy.
          </div>
        </div>

      </div>

      <div class="form-group mb-3">
        <label for="Carrier">Vessel / Carrier</label>
        <input id="Carrier" formControlName="Carrier" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['Carrier'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['Carrier'].errors">
          <label *ngIf="formControls['Carrier'].errors['required']">This field is required.</label>
        </div>
      </div>

      <div class="form-group mb-3 " >
        <label for="Content">Specific Content (Goods Summary)</label>
        <input id="Content"  formControlName="Content" class="form-control">
        <div class="invalid-feedback" *ngIf="submitted && formControls['Content'].errors">
          <label *ngIf="formControls['Content'].errors['required']">Invalid Specific Content.</label>
        </div>
      </div>

    </div>

    <div class="col-md-5 mx-auto ">

      <div class="form-group mb-3 mt-3">
        <label for="GoodsDescription">GoodsDescription (Details)</label>
        <textarea id="GoodsDescription" formControlName="GoodsDescription" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['GoodsDescription'].errors}"  rows="3"></textarea>
        <div class="invalid-feedback" *ngIf="submitted && formControls['GoodsDescription'].errors">
          <label *ngIf="formControls['GoodsDescription'].errors['required']">This field is required.</label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="AmountBilledInWord">AmountBilledInWord</label>
        <textarea id="AmountBilledInWord" formControlName="AmountBilledInWord" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['AmountBilledInWord'].errors}"  rows="3"></textarea>
        <div class="invalid-feedback" *ngIf="submitted && formControls['AmountBilledInWord'].errors">
          <label *ngIf="formControls['AmountBilledInWord'].errors['required']">This field is required.</label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="IssuedBy">IssuedBy</label>
        <input id="IssuedBy" formControlName="IssuedBy" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['IssuedBy'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['IssuedBy'].errors">
          <label *ngIf="formControls['IssuedBy'].errors['required']">This field is required.</label>
        </div>
      </div>

      <div class="form-group mb-3 ">
        <label for="CheckedBy">CheckedBy</label>
        <input id="CheckedBy" formControlName="CheckedBy" class="form-control" [ngClass]="{'is-invalid':submitted && formControls['CheckedBy'].errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls['CheckedBy'].errors">
          Invalid CheckedBy.
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-5 mx-auto ">
      <!-- *ngIf="utilSvc.saveButtVisible" -->
      <div *ngIf="!utilSvc.addButtVisible" class="form-group mb-3 ">
        <input type="submit" class="btn btn-primary btn-space" value="Submit" >
        <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()">
      </div>

      <div class="alert alert-info"  *ngIf="showSuccessMessage">
        Submitted successfully.
      </div>

    </div>

    <div class="col-md-5 mx-auto ">
      <!-- *ngIf="utilSvc.saveButtVisible" -->
      <!-- style="text-align: right;" -->
      <!-- https://getbootstrap.com/docs/5.0/utilities/float/ -->
      <div *ngIf="!utilSvc.addButtVisible"  class="form-group mb-3 float-end" >
        <input type="button" class="btn btn-primary " value="Add to Bill" (click)="AddToBill()">
        <!-- <input type="button" class="btn btn-danger btn-space" value="Cancel" (click)="cancelEntry()"> -->
      </div>

    </div>
  </div>

</form>

<div class="row">
  <div class="col-md-10 col-md-offset-1 mx-auto" >
    <app-invoice-list></app-invoice-list>
  </div>
</div>




