<!-- <p>{{dataSource | json}}</p> -->

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- SNo Column -->
  <ng-container matColumnDef="SNo">
    <mat-header-cell *matHeaderCellDef>       SNo. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
  </ng-container>

  <!-- BillItem Column -->
  <ng-container matColumnDef="BillItem">
    <mat-header-cell *matHeaderCellDef> BillItem </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.BillItem}} </mat-cell>
  </ng-container>

  <!-- MarkUp Column -->
  <ng-container matColumnDef="MarkUp">
    <mat-header-cell *matHeaderCellDef> MarkUp </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.MarkUp}} </mat-cell>
  </ng-container>

  <!-- isActive Column -->
  <ng-container matColumnDef="isActive">
    <mat-header-cell *matHeaderCellDef> isActive </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.isActive}} </mat-cell>
  </ng-container>

  <!-- Serial Column -->
  <ng-container matColumnDef="Serial">
    <mat-header-cell *matHeaderCellDef> Serial </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Serial}} </mat-cell>
  </ng-container>


   <!-- Amount Column -->
  <ng-container matColumnDef="Amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Amount}} </mat-cell>
  </ng-container>

  <!-- BillStatus Column -->
  <ng-container matColumnDef="BillStatus">
    <mat-header-cell *matHeaderCellDef> BillStatus </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.BillStatus}} </mat-cell>
  </ng-container>

  <!-- BillCategory Column -->
  <ng-container matColumnDef="BillCategory">
    <mat-header-cell *matHeaderCellDef> BillCategory </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.BillCategory}} </mat-cell>
  </ng-container>

  <!-- FreightCat Column -->
  <ng-container matColumnDef="FreightCat">
    <mat-header-cell *matHeaderCellDef> FreightCat </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.FreightCat}} </mat-cell>
  </ng-container>

 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="mb-3"></div>


<!-- {{service.list | json}} -->
<!-- <table class="table table-hover">
    <tr >
     <td >SNo</td>
    <td >BillItem</td>
    <td >BillCategory </td>
    <td >FreightCat </td>
    <td>Active </td>
    <td >MarkUp </td>
    <td >BillStatus </td>
    <td >Serial </td>
    <td >Amount</td>

  </tr>

  <tr *ngFor="let bItem of service.list">
    <td (click)="populateForm(bItem)">{{ bItem.SNo}}</td>
    <td (click)="populateForm(bItem)">{{ bItem.BillItem}}</td>
    <td (click)="populateForm(bItem)">{{ bItem.BillCategory }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.FreightCat }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.isActive }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.MarkUp }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.BillStatus }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.Serial }}</td>
    <td (click)="populateForm(bItem)">{{ bItem.Amount }}</td>
    <td>
      <button
        (click)="onDelete(bItem.SNo)"
        class="btn btn-sm btn-outline-danger"
      >
        X
      </button>
    </td>
  </tr>
</table> -->


