

<!-- <div >
  <img src="{{imgHome}}" class="img-fluid " style="background-size: 100vw 100vh;"  alt="">
</div> -->

	<style>
        *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 20px; */
        font-size: 3rem;

    }

    .imgX{
      position: absolute;
      top: 0px;
      left: 0px;
        /* width: 100%;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center; */

    }

    .imgY{
        position: relative;
        /* top: 0;
        left: 0; */
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 3rem;

    }

    /* h1{
      position: absolute;
      top: 100px;
      left: 50px;
      font-size: 6rem;
        font-weight: 800;
        line-height: 150px;
        background-image: linear-gradient(to left, #40E0D0,#2193b0,#ff0080
        );
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;

    } */

    /* blue colors*/
    /*
    #2193b0

    #6dd5ed
    #ff8c00


    #AE67FA
    #F49867
    */

	</style>

	<div class="container">
      <!-- <img src="{{imgHome}}" class="img-fluid imgX" > -->

      <div class="imgY">
      <img src="{{imgHomeLogo}}" class="img-fluid " >
    </div>

  </div>
